<template name="supplier">
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col-md-10 col-md-offset-1" style="background-color: azure; padding: 10px 10px;">
                <div id="header" class="section">
                    <img alt="" class="img-circle" src="https://code.sololearn.com/Icons/Avatars/0.jpg">
                    <p style="color: blue"><a href="#">Công ty STC</a></p>
                    <p style="color: blue; font-size: 1em;">Công ty STC là 1 công ty chuyên cung cấp nước uống chất lượng cao!</p>
                </div>
                {{> categoryItem1}}
                {{> categoryItem2}}
            </div>
            
        </div>
    </div>
</template>