<template name='expired_product'>
    <style>
        body { text-align: center; padding: 20px; }
        @media (min-width: 768px){
            body{ padding-top: 150px; }
        }
        h1 { font-size: 50px; }
        body { font: 20px Helvetica, sans-serif; color: #333; }
        article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
        a { color: blue; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
    </style>
        
    <article class="wrap">
        <div class="red">
        <h1><img src="">Hết sức lưu ý!</h1>
        </div>
        <div>
            <p>Sản phẩm bạn đang sử dụng có thể <a class="red">đã được sử dụng</a> bởi một người dùng khác hoặc có nguy cơ cao <a class="red">không phải là hàng chính hãng</a> của công ty. Vui lòng kiềm tra lại nguồn gốc sản phẩm hoặc <a href="mailto:#">liên hệ chúng tôi</a> để biết thêm chi tiết!</p>
            <p>&mdash; STC Blockchain team</p>
        </div>
    </article>
</template>
      