<template name="TestCallContract">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <form id="contact" action="" method="post" class="test">
                    <!--<div class="col-md-6">-->
                    <!--<fieldset>-->
                    <!--<input name="name" type="text" class="form-control" id="name"-->
                    <!--placeholder="Your name..." required="">-->
                    <!--</fieldset>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                    <!--<fieldset>-->
                    <!--<input name="email" type="email" class="form-control" id="email"-->
                    <!--placeholder="Your email..." required="">-->
                    <!--</fieldset>-->
                    <!--</div>-->
                    <input id = "btnSubmit" type="submit" class="btn btn-block btn-success">
                </form>
            </div>
        </div>
    </div>
</template>