<template name="categoryItem2">
    <div class="row category-item2">
        <div class="col-sm-3">
            <div id="category-logo">
                <img src="http://img.21food.com/20110609/product/1305260353125.jpg" class="img-rounded">
            </div>
            <div class="review-block-name"><a href="./profile page 1.html"><big><div class="a">Vodka cá sấu</div></big></a></div>
            
            <div class="review-block-date"><div class="a"><b>17 Tháng 8, 2018</b><br/><i>1 ngày trước</i></div> </div>
        </div>
        <div class="col-sm-9">
            <div class="review-block-rate">
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
            </div>
            <br>
            <div class="review-block-title"><b>Hàng nhập khẩu chất lượng cao</b></div><br>
        </div>
    </div>
</template>
        