<template name="categoryItem1">
    <div class="row category-item1">
        <div class="col-sm-3">
            <div id="category-logo">
                <img src="https://image.ibb.co/fXiW2e/marvel_absolut_02.jpg" class="img-rounded">
            </div>
            
            <div class="review-block-name"><a href="./profile page 1.html"><big><div class="a">Nước siêu năng lực Marvel</div></big></a></div>
            
            <div class="review-block-date"><div class="a"><b>17 Tháng 8, 2018</b><br/><i>1 ngày trước</i></div> </div>
        </div>
        <div class="col-sm-9">
            <div class="review-block-rate">
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
            </div>
            <br>
            <div class="review-block-title"><b>Đạt tiêu chuẩn ISO 9001:2000</b></div><br>
        </div>
    </div>
</template>
